<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
</head>
<body>
	
	<div id="content">
		<h1>Welcome to the home page</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
			Soluta illo veniam deserunt iusto beatae impedit non repudiandae eveniet natus distinctio cum reprehenderit iste quae,
			 dolore consequatur ipsa quas excepturi consequuntur!</p>
			
	</div>
	<script>
		console.log("Home page");
	</script>
</body>
</html>